/**
 * ## main.css ##
 *
 * This is where we will put all of our CSS styles for now. These can be used
 * to change the visual appearance of the web page.
 */

body {
    margin: 0;
    padding: 0;
}

#root {
    width: 700px;
    margin: 64px auto;
}